<!-- Data intro (Huawei P40 Pro, GPS/BeiDou, 20201113)
This data is surrround the TST -->
<launch>
    <!-- GNSS positioning mode, 0: single, 1:DGPS/DGNSS, 2: kinematic -->
    <param name="mode"       type="int" value="2" />
    <!-- number of frequency (1:L1,2:L1+L2,3:L1+L2+L5) -->
    <param name="nf"      type="int" value="2" />
    <param name="soltype"  type="int" value="0" />

    <!-- path of dataset SMAR00CHN_R_20211931356.21o -->
    <param name="roverMeasureFile" type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/smartphone/20220120-SH-P50pro-LJJLD/Higeo2Rinex.obs" /> 
    <param name="baseMeasureFile" type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/smartphone/20200729-SH-Mate40pro-YSTYG/2022-Feb-07_121048/hksc2100.20o" />
    <param name="BeiDouEmpFile" type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/smartphone/20220120-SH-P50pro-LJJLD/2022-Feb-07_121722/hksc0200.22f" />
    <param name="GPSEmpFile" type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/smartphone/20220120-SH-P50pro-LJJLD/2022-Feb-07_121722/hksc0200.22n" />

    <param name="out_folder"      type="string" value="$(find global_fusion)/dataset/20210714PhoneWalking/p40_1_bag/rtklibResult.pos" />

    <node name="gnss_preprocessor_node" pkg="global_fusion" type="gnss_preprocessor_node" output="screen" />
    
    <!-- open the Rviz together with the OpenStreetMap -->
    <node pkg="rviz" type="rviz" name="rviz" output="screen" 
      args="-d $(find global_fusion)/rviz/gnss_positioning.rviz" required="true">
    </node>
    <node pkg="rostopic" type="rostopic" name="fake_gps_fix" args="pub /gps/fix sensor_msgs/NavSatFix --latch --file=$(find rviz_satellite)/launch/demo_huawei_0113_LJJDL.gps" />
    <!-- Static fake TF transform -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake" args="0 0 0 0 0 0 map base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake_m2w" args="0 0 0 0 0 0 map world" />

</launch>