<!-- subscribe the raw measurements, perform snap shot GNSS single point positioning based pseudorange measurements. FGO_trajectoryllh_psr_dop_fusion -->
<launch>
    <param name="sol_folder"               type="string" value="$(find global_fusion)/WG/FGO_trajectoryllh_psr_dop_fusion.csv" />
    <param name="gt_sol_folder"               type="string" value="$(find global_fusion)/WG/novatel.csv " />  
    <param name="trajectory_path"               type="string" value="$(find global_fusion)/WG/trajectory_selc.csv" />
    <param name="error_path"               type="string" value="$(find global_fusion)/WG/error_selc.csv" />
    <node name="evaluate_gps_solution_hand_ana_node" pkg="global_fusion" type="evaluate_gps_solution_hand_ana_node" output="screen"/>

</launch>