<!-- subscribe the raw measurements, perform snap shot GNSS single point positioning based pseudorange measurements. FGO_trajectoryllh_psr_dop_fusion -->
<launch>

    <!-- <param name="sol_folder"               type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/wearables/0125-SH-YSTYG/evaluation/EKF_trajectoryllh_psr_dop_fusion.csv" /> -->
    <param name="sol_folder"               type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/wearables/0125-SH-YSTYG/evaluation/FGO_trajectoryllh_psr_dop_fusion_gnc15_dop.csv" />
    <!-- <param name="sol_folder"               type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/wearables/0125-SH-YSTYG/evaluation/WLS.csv" /> -->
    <param name="gt_sol_folder"               type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/wearables/0125-SH-YSTYG/evaluation/novatel.txt " />  
    <!-- <param name="trajectory_path"               type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/wearables/0125-SH-YSTYG/evaluation/trajectoryBase.csv" />
    <param name="error_path"               type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/wearables/0125-SH-YSTYG/evaluation/errorBase.csv" /> -->
    <param name="trajectory_path"               type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/wearables/0125-SH-YSTYG/evaluation/trajectory_gnc15_dop.csv" />
    <param name="error_path"               type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/wearables/0125-SH-YSTYG/evaluation/error_gnc15_dop.csv" />
    <!-- <param name="trajectory_path"               type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/wearables/0125-SH-YSTYG/evaluation/EKFtrajectory.csv" /> -->
    <!-- <param name="error_path"               type="string" value="$(find global_fusion)/dataset/2022test_huawei_data/HW-FGO-TestData-for-HKPolyU/HW-FGO-TestData-for-HKPolyU/wearables/0125-SH-YSTYG/evaluation/EKFerror.csv" /> -->
    <node name="evaluate_gps_solution_hand_ana_node" pkg="global_fusion" type="evaluate_gps_solution_hand_ana_node" output="screen"/>

</launch>
